# IDA junk
*.idb
*.id0
*.id1
*.id2
*.nam
*.til

# build junk
*.o
*.d

# macOS junk
.DS_Store

# my junk
salt-patch
fw.img
ios.img
ios.patch
fw550.txt
fw550-sorted.txt
test_vwii.bin
test_vwii2.bin
test_vwii.s
test_vwii2.s
stash.s
fat_mnt/
ios.elf
ios.img.elf
otp.bin
wupserver/fw.img.full.bin.556
wupserver/new_save/
wupserver/old_save/
crash_A.txt
crash_B.txt
after_sect.txt
before_sect.txt
ios_orig.patch

# wupserver
wupserver/build
wupserver/slccmpt
wupserver/vwii_ios
wupserver/sysnand
wupserver/*.img
wupserver/*.bin
wupserver/*.elf
wupserver/*.map
wupserver/syslog.txt

# wafel_core
wafel_core/build
wafel_core/debug
wafel_core/*.img
wafel_core/*.bin
wafel_core/*.elf
wafel_core/*.map
wafel_core.ipx

# wafel_plugin_example
wafel_plugin_example/build
wafel_plugin_example/debug
wafel_plugin_example/*.img
wafel_plugin_example/*.bin
wafel_plugin_example/*.elf
wafel_plugin_example/*.map
wafel_plugin_example.ipx

# extracted sections
sections/*.bin

# patched sections
patched_sections/*.bin

# IOS img
bin/*.bin