.DS_Store
salt-patch
fw.img
ios.img
ios.patch
fw550.txt
fw550-sorted.txt
*.idb
test_vwii.bin
test_vwii2.bin
test_vwii.s
test_vwii2.s
*.o
stash.s

wupserver/build
wupserver/slccmpt
wupserver/vwii_ios
wupserver/sysnand
wupserver/*.img
wupserver/*.bin
wupserver/*.elf
wupserver/*.map
wupserver/syslog.txt

sections/*.bin

patched_sections/*.bin

salt-patch-src/*.o

fat_mnt/
bin/*